

<div id="map"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<ul><% @spots.each do |spot| %>
  <li><%= link_to spot.name, result_path(place_id: spot.place_id) %> </li>
  <% end %>
</ul>



<%=link_to "share", share_spots_path(url:request.url), :class => "my-button"%>
