.homepage-container {
  // clear: both;
  // display: grid;
  align-items: center;
  text-align: center;
  background-image: url("google_map.png");
  // background-repeat: no-repeat;
  background-size: cover;

    input {
      margin: 1em;
    }

    select {
      margin: 1em;
    }
}

.meeter-tagline {
  color: rgb(86, 80, 80);
  font-size: 25px;
}

// .address {
//   position: absolute;
//   transform: scale(0);
// }

// .address + label {
//   cursor: pointer;
//   // button look
// }
