i {
  font: 14px;
  color: #F37121;
  margin-left: -16px;
}

.result-info > h1 {
  margin: 0;
  margin-left: -16px;
}

.result-info > span {
  // letter-spacing: normal; not working
  margin-left: -16px;
}

h2 {
  font-size: 1.25rem;
}

.main-container {
  width: 100%;
}

.img-show {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0 0 16px 16px;
}

.result-map {
  height: 200px;
  border-radius: 10px;
  margin-top: 0.8rem;
  object-fit: cover;
  padding: 1rem 1rem;
  border-radius: 0 0 16px 16px;
}

.result-info {
  padding-top: 0.8rem;
  background-color: white;
  border-radius: 0 0 16px 16px;
  padding-left: 16px;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.go-to-website {
  text-decoration: none;
  color: black;
}

.go-to-website:hover {
  text-decoration: none !important;
  color: black;
}

a {
  text-decoration: none !important;
  color: black;
}

a:active {
  color: black;
}

a:visited {
  color: black;
}

.open-closed {
  margin-bottom: 0px;
}

.mapboxgl-canvas {
  margin: 10px;
  border-radius: 0 0 16px 16px;
}

.collapse {
  line-height: 0.5rem;
}