i {
  font: 14px;
  color: #F37121;
}

.container {
  width: 100%; 
}

.container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

#map {
  width: 100%; 
  height: 200px;
  border-radius: 10px;
  margin-top: 50px;
}

.result-info {
  margin-top: 50px;
}

.page-buttons {
  margin-top: 50px;
}

ul { 
  margin-left: 0; 
  padding-left: 0; 
} 

#back-button {
  color: #F37121;
  background-color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}