.center-share {
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-items: center;
  justify-content: center;
  background-image: asset-url("google_map.png");
}

#logo-share {
  margin-bottom: 3em;
}

#share-link {
  background-color: rgb(196, 196, 196);
  white-space: nowrap;
  overflow: hidden;
  padding: 0.5em;
  margin-top: 1em;
  width: 60%;
}

#myInput {
  display: none;
}

.card {
  border-radius: 15px;
  margin: auto;
  height: fit-content;
  width: 90%;
}

.card-title {
  margin-bottom: 0.75rem;
  margin-top: 1em;
}

.card-body {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  padding-bottom: 0px;
  margin: 0 auto;
  padding: 5px;
  width: 60%;
}

.card-copy {
  display: flex;
  justify-content: center;
}

.fa-whatsapp {
color: rgb(37, 211, 102)
}

.fa-telegram{
color: rgb(0, 136, 204)
}

.fa-copy{
  padding-left: 2rem;
}

$breakpoint-tablet: 768px;

@media (min-width: $breakpoint-tablet) {
  .card {
    width: 650px;
  }
}
