<div class=container>

<%= image_tag 'logo' %>

<h1>MEET UP YOUR FRIENDS WITHOUT GOING A METER TO FAR</h1>

<form action="/results"></form>
<input type="text" placeholder="your location">
<input type="text" placeholder="your friend's location">
<select multiple size="5">
          <option value="Park">Park</option>
          <option value="Bar">Bar </option>
          <option value="Cafe">Cafe </option>
          <option value="Club">Club </option>
          <option value="Restaurant">Restaurant </option>
</select>
<button type="submit">LET'S GO!!!</button>

<%= image_tag 'logo.png' %>

</div>
