<div class="homepage-container">


  <%= image_tag 'logo.png' %>
  <h1 class="meeter-tagline">MEET UP WITH YOUR FRIENDS WITHOUT GOING A METER TOO FAR</h1>


  <%#= form_with url: "/spots", method: :get, local: :true do |form| %>
    <%#= form.text_field :first_address, placeholder: "your location", class: "address" %>
    <%#= form.text_field :second_address, placeholder: "your friend's location", class: "address" %>
    <%# <div class="category-wrapper d-flex "> %>
      <%#= form.radio_button :spot_type, value: "park", class: "category-selector" %>
      <%#= form.label :spot_type, "Park" %>

      <%#= form.radio_button :spot_type, value: "bar", class: "category-selector" %>
      <%#= form.label :spot_type, "Bar" %>
      
      <%#= form.radio_button :spot_type, value: "cafe", class: "category-selector" %>
      <%#= form.label :spot_type, "Cafe" %>

      <%#= form.radio_button :spot_type, value: "restaurant", class: "category-selector" %>
      <%#= form.label :spot_type, "Restaurant" %>
    <%# </div> %>
    <%#= form.submit "LET'S GO!!!", class: "my-button" %>
  <%# end %>


    <form action="/spots" method="get">
      <input class="address" required="true" type="text" name="first_address" placeholder="your location">
      <input class="address" required="true" type="text" name="second_address"placeholder="your friend's location">

      <select name="spot_type" multiple size="5">
          <option value="park">Park</option>
          <option value="bar">Bar </option>
          <option value="cafe">Cafe </option>
          
          <option value="restaurant">Restaurant </option>
      </select>
        <button type="submit">LET'S GO!!!</button>
    </form>

</div>
