<div class="container">

<%= image_tag 'logo.png' %>

<h1>MEET UP YOUR FRIENDS WITHOUT GOING A METER TO FAR</h1>

<form action="/spots" method="get">
  <input type="text" name="first_address" placeholder="your location">
  <input type="text" name="second_address"placeholder="your friend's location">
  <select name="spot_type" multiple size="5">
            <option value="park">Park</option>
            <option value="bar">Bar </option>
            <option value="cafe">Cafe </option>
            <option value="night_club">Club </option>
            <option value="restaurant">Restaurant </option>
  </select>
  <button type="submit">LET'S GO!!!</button>
</form>

</div>
