  .my-button {
    margin: 1em;
    background-color: rgb(243, 113, 33);
    text-decoration-color: white;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    border: none;
    padding: 1em;
    margin: 0.5em;
  }

  .fab {
    font-size: 3rem;
    padding: 0.1em;
  }

  .fas {
    font-size: 3rem;
    padding: 0.1em;
  }

  .far {
    font-size: 1rem;
    padding: 0.5em;
    margin-top: 1em;
  }

  #another-button{

  }
